<html lang="en" xmlns:th="http://www.thymeleaf.org/thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Login</title>
    </head>

    <body>
        <div th:if="${param.error}">
            Usuario o contraseña invalidos.
        </div>

        <div th:if="${param.logout}">
            Has cerrado sesión.
        </div>

        <form th:action="@{/Login}" method="post"
            <div>
                <label for="username">Username </label>
                <input type="text" name="username" id="username">
            </div>

            <div>
                <label for="password">Password </label>
                <input type="password" name="password" id="password">
            </div>

            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </body>
</html>